body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    /* 确保在内容超出时可以滚动 */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    min-height: 30vh;
    /* 使用视口高度的百分比确保自适应 */
    transform: scale(0.8);
    transform-origin: top center;
}

h1 {
    color: red;
    margin: 20px 0;
}

.image-insert {
    width: 100%;
    height: auto;
    border: 1px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    margin: 30px 0;
}

#queryForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    font-size: large;
}

#question {
    width: 70%;
    margin: 10px 0;
    font-size: large;
}

#answer {
    width: 100%;
    min-height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    font-size: large;
}

@media (max-width: 600px) {

    .container,
    .image-insert,
    #answer,
    #question {
        width: 120%;
    }
}